$colorAmarillo:#ffca40;
$colorRojo:#c8161d;
$simpleBlack:#000;
$simpleGray:#d5d5d5;
$simpleWhite:#F8f8f7;
$fontNormal:Gilroy;
$fontBold:GilroyBold;
$fontLight:GilroyLight;
@font-face {
  font-family:Gilroy;
  src: url('../../assets/fuentes/Gilroy-Regular.ttf');
}
@font-face {
  font-family:GilroyBold;
  src: url('../../assets/fuentes/Gilroy-Bold.ttf');
}
@font-face {
  font-family:GilroyLight;
  src: url('../../assets/fuentes/Gilroy-Light.ttf');
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.settingContainer{
  width: 25em;
  height: 30em;
  display: flex;
  flex-direction: column;
   margin-left: 1.5em;
  border-radius:1.25em;
  align-items: center;
  position: relative;
  padding-left: 1.5em;
  padding-top: 3em;
  box-shadow: 2px 10px 1.25em 1px #6c6c6c30;
}
.settings-options{
  margin: 0px 3.5em;
  display: flex;
  align-items: center;
  transition: .4s ease-in-out;
}
.settings-options:hover{
  background-color: #ffca4060;
  border-radius: .8em;
  // width: 95%;
  scale: 0.92;
}

.isSelecte{
  font-weight: bold;
  font-family: $fontBold;
}
.settings-img{
  width: 2.5em;
  height: 1.5em;
}
.right-side{
  margin-top: 10em;
  background-color: $simpleGray;
  align-items: flex-start;
}
.setting-side{
 overflow-x: hidden ;
}
.right-side-title{
  font-size: 2em;
  font-family: $fontBold;
}